@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-700 text-white overflow-x-hidden;
}
.box {
  clip-path: polygon(12% 0%, 100% 0%, 88% 100%, 0% 100%);
}
.box1 {
  clip-path: polygon(0 0, 100% 0, 97% 100%, 0 100%);
}
.box2 {
  clip-path: polygon(0% 0%, 100% 0%, 99% 100%, 0% 100%);
}
.box3 {
  clip-path: polygon(0 0, 100% 0, 96% 100%, 4% 100%);
}
.stack li {
  @apply flex flex-col text-center items-center;
}
.contacts ul li {
  @apply flex whitespace-break-spaces my-3 items-center;
}
.medias ul .li {
  @apply flex whitespace-break-spaces my-3 items-center;
}
.projectDetails img {
  @apply w-12;
}
.tw img {
  @apply w-16;
}

